
.theme-dark {
    --sticky-note-red: 237, 84, 101;
    --sticky-note-orange: 239, 139, 43;
    --sticky-note-yellow: 230, 172, 20;
    --sticky-note-green: 48, 187, 110;
    --sticky-note-cyan: 43, 180, 201;
    --sticky-note-blue: 48, 134, 229;
    --sticky-note-purple: 143, 112, 242;
    --sticky-note-pink: 220, 90, 154;
}

.theme-light {
    --sticky-note-red: 250, 218, 223;
    --sticky-note-orange: 250, 231, 208;
    --sticky-note-yellow: 250, 240, 208;
    --sticky-note-green: 208, 240, 223;
    --sticky-note-cyan: 208, 240, 240;
    --sticky-note-blue: 208, 227, 250;
    --sticky-note-purple: 231, 223, 250;
    --sticky-note-pink: 245, 218, 231;
}

.sticky-note-button  {
    --icon-color: var(--color-base-100);
    --icon-color-hover: var(--color-base-100);
}
    
